*.php text eol=lf

/.github/ export-ignore
/docs/ export-ignore
/qa/Benchmark/ export-ignore
/stubs/ export-ignore
/tests/ export-ignore

/.changelog export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/composer.lock export-ignore
/infection.json.dist export-ignore
/phpstan.neon.dist export-ignore
/psalm.xml export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore

*.stub linguist-language=PHP
