{
    "source": {
        "directories": [
            "src"
        ]
    },
    "staticAnalysisTool": "phpstan",
    "mutators": {
        "@default": true,
        "CloneRemoval": {
            "ignore": [
                "CuyZ\\Valinor\\Compiler\\*"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "CuyZ\\Valinor\\Compiler\\Node"
            ]
        }
    },
    "tmpDir": "var/cache/infection",
    "logs": {
        "text": "var/infection/infection.log",
        "summary": "var/infection/summary.log",
        "perMutator": "var/infection/per-mutator.md",
        "html": "var/infection/infection.html",
        "stryker": {
            "report": "master"
        }
    },
    "$schema": "vendor/infection/infection/resources/schema.json"
}
