includes:
    - qa/PHPStan/valinor-phpstan-configuration.php
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

rules:
    - CuyZ\Valinor\QA\PHPStan\Extension\ApiAndInternalAnnotationCheck

parameters:
    level: max
    paths:
        - src
        - tests
        - qa
    excludePaths:
        - tests/StaticAnalysis
        - tests/Integration/Normalizer/ExpectedCache/
    ignoreErrors:
        # \PHPStan\Rules\BooleansInConditions
        - '#Only booleans are allowed in .* given#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedShortTernaryRule
        - '#Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
        - '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'

        - '#Method [\w\\:]+_data_provider\(\) return type has no value type specified in iterable type#'

    stubFiles:
        - qa/PHPStan/Stubs/vfs/vfsStreamAbstractContent.stub
    tmpDir: var/cache/phpstan
