includes:
    - qa/PHPStan/valinor-phpstan-configuration.php
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

rules:
    - CuyZ\Valinor\QA\PHPStan\Extension\ApiAndInternalAnnotationCheck

parameters:
    level: max
    paths:
        - src
        - tests
        - qa/PHPStan
    ignoreErrors:
        # \PHPStan\Rules\BooleansInConditions
        - '#Only booleans are allowed in .* given#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedShortTernaryRule
        - '#Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
        - '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'

        - '#Method [\w\\:]+_data_provider\(\) return type has no value type specified in iterable type#'

        - message: '#Template type T of method CuyZ\\Valinor\\Mapper\\TreeMapper::map\(\) is not referenced in a parameter#'
          path: src/Mapper/TreeMapper.php

    stubFiles:
        - qa/PHPStan/Stubs/Psr/SimpleCache/CacheInterface.stub
    tmpDir: var/cache/phpstan
