includes:
    - qa/PHPStan/valinor-phpstan-configuration.php
    - qa/PHPStan/valinor-phpstan-suppress-pure-errors.php
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

rules:
    - CuyZ\Valinor\QA\PHPStan\Extension\ApiAndInternalAnnotationCheck

parameters:
    level: max
    paths:
        - src
        - tests
        - qa
    excludePaths:
        - tests/StaticAnalysis
        - tests/Integration/Normalizer/ExpectedCache/
    resultCachePath: var/cache/phpstan/phpstan-resultCache.php
    ignoreErrors:
        # \PHPStan\Rules\BooleansInConditions
        - '#Only booleans are allowed in .* given#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedShortTernaryRule
        - '#Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.#'
        # \PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
        - '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'

        - '#Method [\w\\:]+_data_provider\(\) return type has no value type specified in iterable type#'

        # Although PHPStan has a quite strong purity inferring mechanism, some
        # caveats remain and make it really hard to properly add `@pure` markers
        # all over the codebase. For this reason, we suppress these errors.
        -
            identifier: possiblyImpure.functionCall
        -
            identifier: possiblyImpure.methodCall
        -
            identifier: possiblyImpure.new
        -
            identifier: impure.functionCall
        -
            identifier: impure.propertyAssign


    stubFiles:
        - qa/PHPStan/Stubs/vfs/vfsStreamAbstractContent.stub
    tmpDir: var/cache/phpstan
